<% provide(:full_title,"企業ログイン") %>
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="card card-signin my-5" id="userSignin">
    <div class="card-body-user">
      <h5 class="card-title text-center"><i class="far fa-id-card"></i>ログイン画面</h5>
      <%=form_with scope: :session,local: :true do |f|  %>
      <div class="form-group text-center">
        <div class="col-auto">
        <div class="label-filed">
            <i class="far fa-envelope"></i>
          <%= f.label :email %>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control"%>
        </div>
        <div class="col-auto">
          <div class="label-filed">
            <i class="fas fa-key"></i>
            <%= f.label :password %>
          </div>
          <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "ログインする" ,class: "btn btn-lg btn-block btn-facebook" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
