<% provide(:full_title, "チャット一覧") %>

<div class="card-chat">
  <div class="panel-heading text-center">
  <h3><%= current_user.name %> 様のチャット一覧</h3>
  </div>
  <div class="card-body-chat bg-light p-2 col-md-12">
    <% @chat_rooms.each do |c| %>
    <div class="likes-image">
      <%= image_tag c.company.profile_photo.url(:thumb),class: "chat-image rounded-circle",size:"100x100" %>
      <i class="fas fa-comment-dots"></i>
  <a href="/chat_rooms/<%= c.id %>"><%= c.id %><%= c.company.name %>様とのチャットルーム</a>

  <br/>

  <h5 class="name" ><%= c.company.name %>


  </div>
   <div class="likes-post">
   </div>

<hr>
<% end %>
</div>
</div>
<p><a href="/users/<%= current_user.id %>"><<<<<<%= current_user.name %>さんのマイーページに戻る</a></p>

      </div>
    </div>
  </div>