<% provide(:full_title, "チャット一覧") %>
<div class="card-chat">
  <div class="panel-heading text-center">
    <h3><%= current_user.name %>さんのチャット一覧</h3>
  </div>
  <div class="card-body-chat bg-light p-2 col-md-12">
    <% @chat_rooms.each do |c| %>
      <div class="likes-image">
      <%= image_tag c.company.profile_photo.url,class: "chat-image rounded-circle",size:"100x100" %>
      <i class="fas fa-comment-dots"></i>
      <a href="/chat_rooms/<%= c.id %>"><%= c.company.name %>さんとのチャットルーム</a>
      <br>
      <%= link_to "#{c.company.name}", company_path(c.company),:style=>"color:black;"%>
      <p>チャットNo:<%= c.id %></p>
    <% end %>
  </div>
<hr>
</div>
<%= link_to "<<<#{current_user.name}さんのマイページに戻る", user_path(current_user),:style=>"color:black;"%>
