<% provide(:full_title, "チャット詳細") %>

<div class="card-chat">
  <div class="panel-heading text-center">
    <h3><%= @chat_room.company.name %>とのチャットルーム</h3>
      <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          </button>
          <ul class="dropdown-menu slidedown">
              <li><a href="/companies/<%= @chat_room.company_id %>"></a><%= @chat_room.company.name %>とのチャットルーム</li>
              <li><a href="#">#</a></li>
          </ul>
      </div>
      <%= @chat_room.user.name %>
  </div>
  <div class="card-body-chat bg-light p-2 col-md-12">
    <% if @chat_messages.present? %>
      <% @chat_messages.each do |m| %>
        <% if m.is_user = true %>
          <div class="message-box">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-4">
                  <%= image_tag @chat_room.user.profile_photo.url(:thumb),class:"rounded-circle",size:"75x75"%>
                </div>
                 <div class="col-xs-12 col-sm-10 col-md-4">
                <h4><%= m.message %></h4>
                <div class="chat-date">
                  <small><strong><%= m.created_at.to_s(:jptime) %></strong></small>
                </div>
                </div>
              </div>

        <div class="chatContent">
        <small><strong><a href="/users/<%= @chat_room.user_id %>"><%=  @chat_room.user.name %></a></strong></small><br>
              </div>


              </div>
          <% end %>
        <%# elsif @chat_messages.nil? %>
          <%#h3 class="text-center">メッセージはまだありません</%h3>
        <% end %>　
         <% end %>　
          <% end %>　
      </div>
    </div>
  </div>
   </div>

  <!------------------------------------>


 <!------------------------------------>
  <%#form class="messageInputForm"%>
  <hr>


<div class="card-footer">
  <%= form_with scope: :chat_message, url:chat_room_chat_messages_path(chat_room_id: @chat_room.id) do |f| %>
    <%= f.text_field :message, :class => "form-control myform", :placeholder => "メッセージを入力して下さい" %>
    <%#= hidden_field_tag :chat_room, params[:id] %>
    <div class="text-center">
     <%= button_tag type: "submit", class: "btn btn-facebook",method: :post do %>
      <i class="fas fa-paper-plane"></i>チャットを送る
    <% end %>

      <%#= f.submit "チャットを送る", :class => "btn btn-facebook",method: :post %>
    </div>

  <% end %>
</div>
