<% provide(:title, "新規登録") %>
<%= devise_error_messages %>

<div class="form-group text-center">
  <h2>新規登録してエージェントをゴシメイしてみる</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :name,"お名前"%><br>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :profile_photo,"プロフィール写真" %><br>
    <%= f.file_field :profile_photo, autofocus: true, autocomplete: "profile_photo" %>
  </div>

  <div class="terms">
  <%= check_box_tag :test1%>
<%= label_tag %> <a href="/pages/terms" target="_blank">ユーザー利用規約</a>に同意します<a>

  </div>

  <div class="actions text-center">
    <%= f.submit "登録する", class: "btn btn-dark" %>
  </div>
  <% end %>
</div>
  <div class="GoogleLogo">
  <%#= link_to (image_tag "google-logo.png",:size =>"50x50",class:"googleLogo"), user_google_oauth2_omniauth_authorize_path %>
  <%= link_to user_google_oauth2_omniauth_authorize_path, target: "_blank" ,class:"google" do %>
  <%= image_tag "google-logo.png",:size =>"50x50" %>
  <p>Googleアカウントで新規登録</p>
  <% end %>
  </div>
<%#= link_to (image_tag "google-logo.png",:size =>"40x40"), user_google_oauth2_omniauth_authorize_path %>