<% provide(:full_title, "新規登録") %>
<%= devise_error_messages %>
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="card card-signin my-5" id="userSignin">
    <div class="card-body-user">
      <h5 class="card-title text-center"><i class="far fa-id-card"></i>新規登録画面</h5>
      <p>登録してエージェントを</p>
      <p>ゴシメイしてみよう</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <form class="form-signin text-center">
        <div class="col-auto text-center">
          <div class="label-filed">
            <span class="must">必須</span>
            <i class="far fa-envelope"></i>
            <%= f.label :email %><br>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
        </div>

        <div class="col-auto text-center">
          <div class="label-filed">
            <span class="must">必須</span>
            <i class="fas fa-user"></i>
            <%= f.label :name,"お名前"%><br>
          </div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"%>
        </div>

        <div class="col-auto text-center">
          <div class="label-filed">
            <span class="must">必須</span>
            <i class="fas fa-key"></i>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
        </div>

        <div class="col-auto text-center">
          <div class="label-filed">
          <span class="must">必須</span>
          <i class="fas fa-key"></i>
          <%= f.label :password_confirmation %><br>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
        </div>

        <div class="col-auto text-center">
          <div class="label-filed">
          <span class="must">必須</span>
          <i class="fas fa-image"></i>
          <%= f.label :profile_photo,"プロフィール写真" %><br>
          </div>
          <br><%= f.file_field :profile_photo,autofocus: true,id:"fileName"%>
        <input id="dummy_file" type="text" >
        <label for="fileName" >
        <span class="browse_btn">ファイルを選択</span><input type="file"id="fileName">
        </label>
        <%= f.hidden_field :profile_photo_cache %>
        </div>

       <%
=begin%>
  <div class="terms col-auto text-center">
          <%= check_box_tag :test %>
          <%= label_tag %> <a href="/pages/terms" target="_blank">ユーザー利用規約</a>に同意します<a>
        </div>
<%
=end%>
        <div class="actions text-center">
          <%= f.submit "登録する", class: "btn btn-lg btn-facebook btn-block" ,id:"submit"%>
        </div>
        <div id="output"></div>
      <% end %>

          <%= link_to user_google_oauth2_omniauth_authorize_path, target: "_blank" ,class:"btn btn-google btn-block" do %>
            <i class="fab fa-google mr-2"></i><span>Googleで新規登録</span>
          <% end %>
      </form>
    </div>
  </div>
</div>
