<% provide(:title, "マイページ") %>
<div class="profile-wrap">

<div class="container">
  <div class="row">
    <div class="col-md-10 text-center">
    <%if @user.profile_photo.nil?%>
      <%= image_tag avatar_url(@user), class: "round-img" %>
      <%else%>
      <%#= image_tag @user.profile_photo.url(:thumb),class:"round-img"%>
    <%end%>
    </div>
    <div class="col-md-8">
      <div class="row">

       <%# if @user == current_user%>
        <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        <%#end%>
            <h1><%= @user.name %></h1>
            <p>メールアドレス : <%= @user.email %></p>
              <p>プロフィール : <%= @user.profile %></p>

              <%= link_to "退会する", "/users/#{@user.id}", method: :delete,data:{confirm: "本当に退会しますか？"},class: "btn btn-outline-dark common-btn edit-profile-btn" %>
               <%= link_to "戻る", root_path, class: "btn btn-outline-dark common-btn edit-profile-btn"%>
              </div>
            </div>
          </div>
        
    </div>
  </div>
</div>
</div>
