<% provide(:full_title, "マイページ") %>

<%
=begin%>
 <div class="profile-wrap">
<div class="container">
  <div class="row border">
    <div class="col-md-5 text-center">
      <%= image_tag current_user.profile_photo.url(:thumb),class:"round-img" %>
    </div>
    <div class="col-md-7">
            <h1><%= @user.name %></h1>
            <p>メールアドレス : <%= @user.email %></p>
              <p>経歴 : <%= @user.profile %></p>
<%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
              <%= link_to "退会する", "/users/#{@user.id}", method: :delete,data:{confirm: "本当に退会しますか？"},class: "btn btn-outline-dark common-btn edit-profile-btn" %>
              <%= link_to "戻る", root_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
              <%= link_to "チャット中の企業はこちら", chat_rooms_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
<%
=end%>


 <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-9 mx-2">
        <div class="card user-edit flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
            <%= image_tag current_user.profile_photo.url %>
              <br>
              <%#= link_to "戻る", root_path, class: "btn btn-outline-dark" %>
          </div>

          <div class="card-body">
          <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
            <h5 class="card-title text-center"><%= @user.name %></h5>
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="list-group text-center">
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
              </div>
            </div>
          </div>
        </div>





            <hr>
            <div class="profile">
              <div class="profile-group">
              <p>メールアドレス : <%= @user.email %></p>
              </div>

              <div class="profile-group">
               <p>経歴 : <%= @user.profile %></p>
              </div>


              <div class="profile-group">
                  <p>年齢 : <%= @user.age %></p>
              </div>

              <div class="profile-group">
               <p>性別 : <%= @user.sex %></p>
              </div>

              <%= button_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-lg btn-outline-dark btn-block",method: :get %>
               <%= link_to "退会する", "/users/#{@user.id}", method: :delete,data:{confirm: "本当に退会しますか？"},class:"d-block text-center mt-2 small" %>

              <hr class="my-4">
                <%= button_to "お気に入りしているエージェントはこちら", likes_posts_path, class:"btn btn-lg btn-google btn-block",method: :get %>

        <%= button_to "チャット中のエージェントはこちら", chat_rooms_path, class:"btn btn-lg btn-facebook btn-block",method: :get %>



            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>