<% provide(:full_title, "マイページ") %>
  <div class="mypage col-lg-12 col-xl-9 col-sm-4 mx-auto">
<!--モーダル -->
            <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
              <h5 class="card-title text-center"><%= @user.name %></h5>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                      </div>
                      <div class="list-group text-center">
                        <%= link_to "プロフィールを編集する", edit_user_registration_path, class: "list-group-item list-group-item-action",method: :get %>
                        <%= link_to "退会する", "/users/#{@user.id}", method: :delete,data:{confirm: "本当に退会しますか？"},class:"list-group-item list-group-item-action" %>
                        <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
                      </div>
                    </div>
                  </div>
                </div>

<!--モーダル終了 -->
              <hr>
              <div class="row">
              <div class="col-lg-4 col-xl-4 col-sm-4 col-xs-3">
                <%= image_tag current_user.profile_photo.url,size:"100x100",class:"rounded-circle" %>
              </div>
              <div class="col-lg-8 col-xl-8 col-sm-8 col-xs-9">
                <div class="profile">
                  <div class="profile-group">
                    <p>ユーザーID : <%= @user.id %></p>
                    <p>メールアドレス : <%= @user.email %></p>
                  </div>
                  <div class="profile-group">
                    <p>経歴 : <%= @user.profile %></p>
                  </div>
                  <div class="profile-group">
                    <p>年齢 : <%= @user.age %></p>
                  </div>
                  <div class="profile-group">
                    <p>性別 : <%= @user.sex %></p>
                  </div>
                </div>
              </div>
            </div>

              <hr>

             <%= link_to "ボシュウを探す", posts_path, class: "btn btn-lg btn-outline-dark btn-block",method: :get %>
                <%= link_to "お気に入りしている投稿はこちら", likes_posts_path, class:"btn btn-lg btn-google btn-block",method: :get %>
                <%= link_to "チャット中のエージェントはこちら", chat_rooms_path, class:"btn btn-lg btn-facebook btn-block",method: :get %>