<body>
  <div class="top-wrapper",id="wrapper">
    <div class="container ">
      <div class="top-image">
        <div class="text-center">
          <h1 class="font-weight-bold mb-4 topTitle"><br />ゴシメイ！</h1>
          <h3 class="subTitle">
            <p>信頼できる転職エージェントを、</p>
            <p>自分で見つけよう</p>
          </h3>
        </div>
          <div class="companyNew">
            <%= link_to "新規登録はこちら", new_company_path, class:'companyNewForm btn btn-facebook' %>
          </div>
        </div>
      </div>
    </div>
    <div class="heading text-center">
      <h2>ゴシメイ！の使い方</h2>
    </div>
    <div class="mb-5 bgBlue">
      <div class="canSearch">
        <h3>ボシュウできます</h3>
      </div>
      <div class="searchImage">
        <%= image_tag('post.png',:class =>"companyImage rounded-circle") %>
      </div>
      <div class="canChat">
        <h3>チャット形式でメッセージのやりとりができます</h3>
      </div>
      <div class="searchImage">
        <%= image_tag('chatting.png',:class =>"companyImage rounded-circle") %>
      </div>
    </div>
  </body>
    <div class="company-message-wrapper">
      <div class="company-registration text-center">
        <h2>ゴシメイ！への登録はこちら</h2>
        <%= link_to "新規登録",new_company_path, class: "btn-gradient" %>
        <%= link_to "アカウントをお持ちの方はこちら", login_path, class: "btn-gradient" %>
      </div>
    </div>
<%= link_to "ログインする",login_path %>
<%= link_to "ログアウト",logout_path,method: :delete %>
