<% provide(:title, "Home") %>
<div class="welcome-wrapper",id="wrapper">
      <div class="container">
        <div class="top-image">
          <div class="text-center">
            <h1 class="font-weight-bold mb-4 topTitle"><br />ゴシメイ！</h1>
            <h3 class="subTitle">
              <p>信頼できる転職エージェントを、</p>
              <p>自分で見つけよう</p>

            </h3>
            <div class="homeGoogleLogo">
            <%#= link_to (image_tag "google-logo.png",:size =>"50x50",class:"googleLogo"), user_google_oauth2_omniauth_authorize_path %>
            <%= link_to user_google_oauth2_omniauth_authorize_path, target: "_blank" ,class:"homeGoogle" do %>
            <%= image_tag"google-logo.png",:size =>"50x50" %>
            <p>Googleアカウントで新規登録</p>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ゴシメイでできることの説明-->
    <div class="service-wrapper">
      <div class="container">
        <div class="heading text-center">
          <h2>ゴシメイ！でできること</h2>
          <p>ゴシメイは〇〇できるサービスです。</p>
          <p>自分自身で探す</p>
        </div>
        <div class="row">
          <div class="detail col-3 consultation">
            <%= image_tag"consultation.png" %>

            <p class="text-contents">
              <span class="font-weight-bold">専門性の高い転職エージェントにいつでも相談できます</span>
            </p>
          </div>
          <div class="detail col-3 nominate">
          <%= image_tag 'nominate.png'%>
            <p class="text-contents">
              <span class="font-weight-bold">自分にぴったりの転職エージェントを指名できます</span>
            </p>
          </div>
          <div class="detail col-3 free">
            <%= image_tag 'free.png' %>
            <p class="text-contents">
              <span class="font-weight-bold">無料でサービス利用できます</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--ゴシメイの使い方-->
    <div class="Features py-5">
      <div class="heading text-center">
        <h2>ゴシメイ！の使い方</h2>
      </div>
      <div class="container">
        <div class="mb-5 row bgBlue">
          <div class="col-sm-8">
            <h3 class="text-center mt10">①検索する。</h3>
          </div>
          <div class="col-sm-4">
            <%= image_tag('search.png',:class =>"w-100 rounded-circle") %>
          </div>
        </div>
      </div>
    </div>

    <div class="heading text-center"></div>
    <div class="container mt10" >
      <div class="mb-5 row bgSkyblue">
        <div class="col-sm-4">
          <%= image_tag('like.png',:class =>"w-100 rounded-circle") %>
        </div>
        <div class="col-sm-8">
          <h3 class="text-center mt10">②お気に入りができます</h3>
        </div>
      </div>
    </div>
    <div class="Features py-5">
      <div class="container mt20">
        <div class="mb-5 row bgBlue">
          <div class="col-sm-8">
            <h3 class="text-center mt10">③チャットができます</h3>
          </div>
          <div class="col-sm-4">
            <%= image_tag('search.png',:class =>"w-100 rounded-circle") %>
          </div>
        </div>
      </div>
    </div>
<!--ゴシメイへの登録-->
<div class="message-wrapper">
  <div class="registration text-center">
    <h2>ゴシメイ！で転職のパートナーを探してみませんか？</h2>
      <% if user_signed_in? %>
        <%= link_to "マイページ",user_path(current_user),class: "btn-gradient" %>
        <%= link_to "ユーザー編集",edit_user_registration_path,class: "btn-gradient" %>
      <%else%>
        <%= link_to "新規登録する", new_user_registration_path, class: "btn-gradient" %>
        <%= link_to "アカウントをお持ちの方はこちら", new_user_session_path, class: "btn-gradient" %>
      <%end%>
      <br>
      <%= link_to "採用ご担当者様はこちら",companies_home_path %>
    </div>
</div>
