<% provide(:title, "Home") %>
<html>
<head>
</head>
<body>
  <div class="top-wrapper">
    <div class="container">
    <div class = "top-image">
<div class="text-center">
      <h1 class="font-weight-bold mb-4"><br>ゴシメイ！</h1>

      <h2>信頼できる転職エージェントを、自分で見つけよう</h2>
      <%#= link_to "新規登録はこちら", new_user_registration_path %>
      </div>
    </div>
   
    </div>
  </div>

  <!--ゴシメイでできることの説明-->
  <div class="service-wrapper">
    <div class="container">
      <div class="heading">
        <h2>ゴシメイ！でできること</h2>
      </div>
      <div class="row">
        
         
          
            <div class="detail col-3" >
              
                <%= image_tag("consultation.png",:class =>"rounded-circle") %>
                
              
              <p class="text-contents"><span class="font-weight-bold">専門性の高い転職エージェントにいつでも相談できます</span></p>
            </div>

            <div class="detail col-3 ">
              
                <%= image_tag 'nominate.png'%>
            
              <p class="text-contents"><span class="font-weight-bold">自分にぴったりの転職エージェントを指名できます</span></p>
            </div>

            <div class="detail col-3">
              
                <%= image_tag 'free.png' %>
              
              <p class="text-contents"><span class="font-weight-bold">無料でサービス利用できます</span></p>
            </div>

      </div>   
        
      
    </div>
  </div>

 <!--ゴシメイの使い方-->
  <div class="Features py-5">
  <div class="heading text-center">
        <h2>ゴシメイの使い方</h2>
      </div>
   <%#h2 class="text-center">ゴシメイの使い方</$h2%>
    <div class="container">
    <div class="mb-5 row">
    <div class="col-sm-8">
    <h3>検索ができます</h3>
    </div>
     <div class="col-sm-4">
     <%= image_tag('search.png',:class =>"w-100 rounded-circle") %>
     </div>
      <%#div class="row"%>
      <%#h2 class="text-center">ゴシメイの使い方</%h2%>

      </div>
      <div>
      </div>
    </div>
  </div>

   <!--ゴシメイへの登録-->
  <div class="message-wrapper">
    <div class="container">
      <div class="registration">
        <h2>転職のパートナーを探してみませんか？</h2>
        
      </div>
      <% if user_signed_in? %>
      <%= link_to "マイページ",user_path(current_user) if current_user%>
      <%= link_to "ユーザー編集",edit_user_registration_path%>
      <%else%>
      <%= link_to "無料で新規登録する", new_user_registration_path, class: "btn btn-dark btn-lg" %>
      <%end%>
      
      
      <%#= link_to "チャット",chat_path,class: "btn btn-dark btn-lg"%>
      
    </div>
  </div>
  <!-- もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成 -->
    <%# if @user_ids.include?(user.id) %>
      <br>
      <%#= link_to "チャットへ", chat_path(current_user.find_by(user_id: user.id)) %><br>
    
    </body>

</html>
      <%#= form_for chat_room.new do |f| %>
        <%#= f.hidden_field :user_id, :value => user.id %>
       
 

