<% provide(:title, "Home") %>
<div class="welcome-wrapper" ,id="wrapper">
      <div class="container">
        <div class="top-image">
          <div class="text-center">
            <h1 class="font-weight-bold mb-4 topTitle"><br />ゴシメイ！</h1>
            <h3 class="subTitle">
              <p>信頼できる転職エージェントを、</p>
              <p>自分で見つけよう</p>
            </h3>
            <%#= link_to "新規登録はこちら", new_user_registration_path,class:"signIn btn btn-warning" %>
          </div>
        </div>
      </div>
    </div>

    <!--ゴシメイでできることの説明-->
    <div class="service-wrapper">
      <div class="container">
        <div class="heading">
          <h2>ゴシメイ！でできること</h2>
        </div>
        <div class="row">
          <div class="detail col-3 consultation">
            <%= image_tag"consultation.png" %>

            <p class="text-contents">
              <span class="font-weight-bold"
                >専門性の高い転職エージェントにいつでも相談できます</span
              >
            </p>
          </div>

          <div class="detail col-3 nominate ">
            <%= image_tag 'nominate.png'%>
            

            <p class="text-contents">
              <span class="font-weight-bold">自分にぴったりの転職エージェントを指名できます</span>
            </p>
          </div>

          <div class="detail col-3 free">
            <%= image_tag 'free.png' %>
             <p class="text-contents">
              <span class="font-weight-bold">無料でサービス利用できます</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--ゴシメイの使い方-->
    <div class="Features py-5">
      <div class="heading text-center">
        <h2>ゴシメイ！の使い方</h2>
      </div>
      <div class="container">
        <div class="mb-5 row bgBlue">
          <div class="col-sm-8">
            <h3 class="text-center mt10">検索ができます</h3>
          </div>
          <div class="col-sm-4">
            <%= image_tag('search.png',:class =>"w-100 rounded-circle") %>
          </div>
        </div>
      </div>
    </div>

    <div class="heading text-center"></div>
    <div class="container mt10 ">
      <div class="mb-5 row bgSkyblue">
        <div class="col-sm-4">
          <%= image_tag('like.png',:class =>"w-100 rounded-circle") %>
        </div>
        <div class="col-sm-8">
          <h3 class="text-center mt10">お気に入りができます</h3>
        </div>
      </div>
    </div>
      <div class="Features py-5">
      <div class="container mt20">
        <div class="mb-5 row bgBlue">
          <div class="col-sm-8">
            <h3 class="text-center mt10">チャットができます</h3>
          </div>
          <div class="col-sm-4">
            <%= image_tag('search.png',:class =>"w-100 rounded-circle") %>
          </div>
        </div>
      </div>
    </div>
<!--ゴシメイへの登録-->
  <div class="message-wrapper">
    <%#div class="container"%>
      <div class="registration text-center">
        <h2>転職のパートナーを探してみませんか？</h2>
        <% if user_signed_in? %>
          <%= link_to "マイページ",user_path(current_user) if current_user %>
          <%= link_to "ユーザー編集",edit_user_registration_path、、class: "btn-circle"%>
        <%else%>
          <%= link_to "新規登録する", new_user_registration_path, class: "btn-circle" %></br>
          </br>
          <%= link_to "ユーザーの方はこちら", new_user_session_path, class: "btn-circle" %>
        <%end%>
      </div>
    <%#/div%>
  </div>
  <!-- チャット機能 userでログイン-->
    
  <% if user_signed_in? %>
  <br>
  <h2>エージェント一覧</h2>
  <br>

  <%= link_to "チャットへ","/chat_rooms",method: :post %>

  <% @companies.each do |company| %>
    <%= company.name %>
  <% end %>
<% end %>
  <!--companyでログインしてたら-->

<h1>チャットサンプル</h1>
<!--Userでログインしてたら-->
<%if user_signed_in? %>
  <p>~<%#= current_user.name %>がログインしてます~</p>
  

  <% @companies.each do |company| %>
    <%= company.name %>
    <!-- もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成 -->
    <%# if @company_ids.include?(company.id) %>
    <%# if user_signed_in? %>
      <br>
      <%#= link_to "チャットへ", chat_room_path(current_user.rooms.find_by(company_id: company.id)) %><br>
    <%# else %>
      <%= form_for ChatRoom.new do |f| %>
        <%= f.hidden_field :company_id, :value => company.id %>
        <%= f.submit %>
      <% end %>
    <%# end %>
  <% end %>
<%end%>


