<% provide(:title, "TopPage") %>

<html>
<head>
  
</head>
<body>
  <header>
   <div class="container">
<div class="header-left">
   <%#<img src="/assets/toppage.jpeg" alt="" >%>


<%#= image_tag 'toppage.jpeg', size: "1000x550" %>


      </div>
      <div class="header-right">
        <a href="#" class="login">ログイン</a>
      </div>
    </div>
  </header>

  <div class="top-wrapper">
    <div class="container">
    <div class = "top-image">

    </div>
    <div class="text-center">
      <h1 class="font-weight-bold mb-4"><br>ゴシメイ！</h1>

      <h2>最良のパートナーを、見つけよう</h2>
      <%#= link_to "新規登録はこちら", new_user_registration_path %>
      </div>
      

    </div>
  </div>
  <div class="service-wrapper">
    <div class="container">
      <div class="heading">
        <h2>ゴシメイ！でできること</h2>
      </div>
      <div class="row">
        
         
          
            <div class="detail col-3" >
              
                <%= image_tag 'consultation.png'%>
                
              
              <p class="text-contents"><span class="font-weight-bold">専門性の高い転職エージェントにいつでも相談できます</span></p>
            </div>

            <div class="detail col-3 ">
              
                <%= image_tag 'nominate.png'%>
            
              <p class="text-contents"><span class="font-weight-bold">自分にぴったりの転職エージェントを指名できます</span></p>
            </div>

            <div class="detail col-3">
              
                <%= image_tag 'free.png' %>
              
              <p class="text-contents"><span class="font-weight-bold">無料でサービス利用できます</span></p>
            </div>

      </div>   
        
      
    </div>
  </div>

  <div class="contacts">
    <div class="container">
      <div class="row">
      <h2 class="text-center">お問い合わせはこちら</h2>
      </div>   
    </div>
  </div>


  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>転職のパートナーを探してみませんか？</h2>
        
      </div>
      
      <%= link_to "無料で新規登録する", new_user_registration_path, class: "btn btn-dark btn-lg" %>
      
      <%= link_to "ユーザー編集",edit_user_registration_path%>
      
    </div>
  </div>
  
     <!--  render 'shared/feed' %>-->
  
  
</body>
</html>

