 <% provide(:title, "お問い合わせ") %>
 <div class="form-group text-center">
  <h1>ここからお問い合わせができます</h1>
    

<div class="profile-form-wrap">
  <%= form_with model:@contact,local: true, method: :post do |c| %>

<div class="form-group">
  <%= c.label :name, "名前" %>
  <%= c.text_field :name %>
</div>

<div class="form-group">
  <%= c.label :email, "メールアドレス" %>
  <%= c.email_field :email %>
</div>

<div class="form-group">
  <%= c.label :contents, "お問い合わせ内容" %>
  <%= c.text_area :contents %>
</div>


  <%= c.submit "送信", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>


