<% provide(:full_title, "お問い合わせ") %>
  <div class="col-sm-9 col-md-8 col-lg-8 mx-auto">
    <div class="card" id="card-contacts">
      <div class="card-header text-center">こちらからお問い合わせが出来ます。</div>
      <div class="card-body">
        <%= form_with model: @contact do |f| %>
        <div class="col-auto">
          <%= f.label :name, "お名前" %>
          <span class="must">必須</span>
          <%= f.text_field :name ,placeholder: "例）山田太郎", class: "form-control" %>
        </div>
        <div class="col-auto">
          <%= f.label :email, "メールアドレス" %>
          <span class="must">必須</span>
          <%= f.email_field :email ,placeholder: "例）abc@example.com", class: "form-control" %>
        </div>
        <div class="col-auto">
          <%= f.label :contents, "お問い合わせ内容" %>
          <span class="must">必須</span>
          <%= f.text_area :contents,placeholder: "例）登録後、ログインができません。", class: "form-control" %>
        </div>
        <div class="col-auto">
          <%=simple_format(@contacts) %>
          <%= f.submit "送信", method: :post,class: "btn btn-lg btn-facebook btn-block" %>
        </div>
  <% end %>
      </div>
  </div>

</div>
