<% provide(:title, "エージェント登録画面") %>

<div class="form-group text-center"> 
  <h2>新規登録(企業）</h2>

  <%#= form_for(company, as: company, url: new_company_path(company)) do |f| %>
  <%#= form_for(@company,url: new_company_path(@company))do |f| %>
  <%#= form_for(:session, url: companies_login_path) do |f| %>
  <%= form_with model: @company do |f| %>
  <div class="field">
  <span class="must">必須</span>
    <%= f.label :email,"メールアドレス  "%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :name,"お名前      "%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :password,"パスワード           "%><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
  <span class="must">必須</span>
    <%= f.label :password_confirmation, "パスワード（確認）" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
</div>
  <div class="field">
  <span class="must">必須</span>
    <%= f.label :profile_photo,"プロフィール写真" %><br />
    <%= f.file_field :profile_photo, autofocus: true, autocomplete: "profile_photo" %>
  </div>

  <div class="actions text-center">
    <%= f.submit "登録する", class: "btn btn-dark" %>
  </div>
  <% end %>
</div>

<%if user_signed_in?%>
<%= render "devise/shared/links" %>
<%end%>
