<% provide(:title, "企業様マイページ") %>
<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        <%= "#{@company_name}の詳細" %>
      </div>
        <div class="image text-center">
        <%= image_tag @company.profile_photo.url(:thumb),class: "round-img" %>

  <div class="card-body">
        <%#= form_with scope: resource, as: resource_name, url: registration_path(resource_name),local: true, method: :patch do |f| %>
      <%#= form_with model: @post do |f| %>
      <div class="col-auto">
        <p>お名前</p>
      <%= @company.name %>
      </div>

      <div class="col-auto">
  <p>在籍企業</p>
      <%= @company.corporation_name %>
      </div>

      <div class="col-auto">
      <p>担当業界</p>
      <%= @company.industry %>
      </div>

      <div class="col-auto">
      <p>担当職種</p>
      <%= @company.occupation %>

      </div>

      <div class="col-auto">
      <p>経歴</p>
      <%= @company.profile %>

      </div>

    </div>
  </div>
</div>
</div>
</div>

  <div class="actions text-center">
        <%= link_to "戻る", posts_path,class:"btn btn-dark" %>
      <%#= link_to "追加ゴシメイしてメッセージを開始する", chat_room_path(@company_id),class:"btn btn-dark" %>

<!--↓でチャットルーム新規作成できた-->
<%= button_to 'チャット', {controller: 'chat_rooms', action: 'create',user_id:current_user.id,company_id:@company_id}, {method: :post } %>


<%#= button_to '0518', create_chat_path(chat_room:{user_id:current_user.id,company_id:@post.company_id}),method: :post %>

 <%#= link_to "チャットへ", chat_room_path(current_user.chat_rooms.find_by(company_id: company.id)) %><br>

<%#= link_to "チャット", create_chat_path(chat_room: {company_id: @company_id}), :method => :post %>
      <%# if @company_ids.include?(company.id) %>

<%#= link_to "チャットへ", chat_room_path(current_user.chat_rooms.find_by(company_id: company.id)) %><br>
    <%# else %>
      <%= form_for ChatRoom.new do |f| %>
        <%#= f.hidden_field :company_id, :value => company.id %>
        <%= f.submit %>
      <% end %>
    <%# end %>
