<h1>チャットサンプル</h1>
<% if user_signed_in? %>
  <h3>チャットルーム</h3>
  <div class="chat-field">
    <%# if @message.present?  %>

      <!-- メッセージがUserによるものだったら -->
      
        <!-- メッセージを右に寄せる -->
        <!--render @messageではメッセージのデータが表示されなかった-->
          <%= render @messages%>
        </div>
      <!-- メッセージがShopによるものだったら -->
      <%else %>
        <!-- メッセージを左に寄せる -->
        <%#iv class="left-message">
          <%= m.content %>
  </div>
<% end %>

<%= form_with model: @chat do |f| %>
  <%= f.text_field :messeage %>
  <%= f.submit "メッセージを送る"%>
<% end %>