<% provide(:full_title,"ログイン") %>

<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
<div class="card card-signin my-5" id="userSignin">
  <div class="card-body-user">
    <h5 class="card-title text-center">ログインはこちら</h5>
    <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
    <form class="form-signin">
      <div class="field text-center">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
  </div>

    <div class="field text-center">
      <%= f.label :password %><br>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">パスワードを保存する</label>
    </div>

    <div class="actions text-center">
      <%= f.submit "ログインする" ,class: "btn btn-dark btn-lg btn-block" %>
      <% end %>
    </div>
  <%= link_to user_google_oauth2_omniauth_authorize_path, target: "_blank" ,class:"btn btn-lg btn-google btn-block text-center" do %>
  <i class="fab fa-google mr-2"></i>
  <span>Googleでログイン</span>
  <% end %>

  </form>
  </div>
</div>
</div>
</div>
</div>