<% provide(:full_title,"ログイン") %>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 mx-auto">
  <div class="card card-signin my-5" id="userSignin">
    <div class="card-body-user">
      <h5 class="card-title text-center"><i class="far fa-id-card"></i>ログイン画面</h5>
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <form class="form-signin">
          <div class="field text-center">
            <div class="label-filed">
              <i class="far fa-envelope"></i>
            <%= f.label :email %>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
          </div>

          <div class="field text-center">
            <div class="label-filed">
              <i class="fas fa-key"></i>
              <%= f.label :password %>
            </div>
            <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
          </div>

          <div class="actions text-center">
            <%= f.submit "ログインする" ,class: "btn btn-lg btn-block btn-facebook" %>
          </div>
      <% end %>

          <%= link_to user_google_oauth2_omniauth_authorize_path, target: "_blank" ,class:"btn btn-lg btn-google btn-block text-center" do %>
            <i class="fab fa-google mr-2"></i><span>Googleでログイン</span>
          <% end %>
      </form>
    </div>
  </div>
</div>
