<% provide(:full_title, "エージェントをゴシメイする") %>

<section class="card-chat">
  <div class="panel-heading text-center">
    <h2>ボシュウからエージェントを探してみる</h2>
  </div>

	<div class="row">

  <%= search_form_for @search, url: posts_path do |f| %>
  <section class="col-xs-12 col-sm-10">
    <%= f.label :title_or_contents_cont, '投稿から検索しよう' %>
    <%= f.search_field :title_or_contents_cont,class:"form-control" %>
    <%= button_tag type: "submit", class: "btn btn-google btn-lg",id:"search-post" do %>
      <i class="fas fa-search-plus"></i>検索
    <% end %>
  </div>
  <%= link_to posts_path(format: :csv),class: "btn btn-outline-dark ",id:"post-csv" do %>
  <i class="fas fa-cloud-download-alt"></i>ボシュウをCSV出力する
  <% end %>
<% end %>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-10 col-md-4" id="cardPostIndex">
			  <div class="card" id="cardIndex">
				  <header class="title-header">
					  <h3><%= post.title %></h3>
				  </header>
				  <div class="card-body">
					  <div class="img-card">
              <p class="tagline card-text text-xs-center"> <strong><%= post.company.name %></strong></p>
                <%= image_tag post.company.profile_photo.url(:thumb),class:"rounded-circle",size:"50x50"%>
                <%= post.contents %>
                <%= post.created_at %>
					  </div>
            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'posts/like_text', locals: { post: post} %>
            </div>
				  </div>
          <%= link_to company_path(post.company),class:"btn btn-facebook btn-block" do %>
            <i class="fas fa-search-plus"></i>エージェントの詳細をチェック
          <% end %>
        </div>
		  </div>
    <% end %>
  </div>
</section>
  <div class="page">
    <%= paginate @posts %>
  </div>
