<% provide(:full_title, "お気に入り") %>
<div class="card-chat">
  <div class="panel-heading text-center">
    <h3><%= current_user.name %> さんのお気に入り一覧</h3>
  </div>
  <div class="card-body-chat bg-light p-2 col-md-12">
    <% @posts.each do |post| %>
   <div class="likes-image">

  <%= image_tag post.company.profile_photo.url(:thumb),class: "chat-image rounded-circle",size:"100x100" %>
  <i class="fas fa-heart"></i>
 <%= link_to "#{post.company.name}", company_path(post.company),:style=>"color:black;"%>
  </div>
   <div class="likes-post">
   <%= post.title %>
<%= post.contents %>
   </div>


<hr>
<% end %>
</div>
</div>
  <%= link_to "<<<#{current_user.name}さんのマイページに戻る", user_path(current_user),:style=>"color:black;"%>

      </div>
    </div>
  </div>
