<% provide(:title, "ボシュウ作成") %>
<div class="d-flex flex-column align-items-center mt-3">

  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
    　　ボシュウする
      </div>
      <div class="card-body">
        <%= form_with model: @post do |f| %>
          <div class="form-group">
            <div class="col-auto">
            <%#= image_tag avatar_url(post.user), class: "post-profile-icon" %>
            
              <%#= image_tag avatar_url(current_user), class: "post-profile-icon" %>
            </div>
            
            <div class="col-auto"> 
            <%= f.label :title,"ボシュウのタイトル"%>
            <%= f.text_field :title, class: "form-control border-0", placeholder: "エンジニアの転職支援にて、豊富な実績があります" %>
              </div>
            <div class="col-auto">
            <%= f.label :contents,"得意なこと"%>
            <%= f.text_area :contents, class: "form-control border-0", placeholder: "前職はサーバーサイドのエンジニアとして
            サービス開発を行っており、豊富な業界知識と企業へのコネクションがございます" %>
            </div>
            <div class="col-auto center">
            <%= f.submit "ボシュウする", class: "btn btn-dark" %>
             </div>
        <% end %>
      </div>
    </div>
  </div>
</div>