<% provide(:title, "エージェント詳細") %>
<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header text-center">
        <%= @post.company.name %>
      </div>
        <%= image_tag @post.company.profile_photo.url(:thumb),class: "round-img"%>
<!--body-->
      <div class="card-body">
        <%#= form_with scope: resource, as: resource_name, url: registration_path(resource_name),local: true, method: :patch do |f| %>
       <%= form_with model: @post do |f| %>
      <div class="col-auto">
        <%= f.label :name, "お名前"%>
        <%= f.text_field :name ,placeholder: "例）山田太郎", class: "form-control" %>
      </div>

      <div class="col-auto">
        <%= f.label :profile,"経歴" %> <br />
        <%= f.text_area :profile, autofocus: true, autocomplete: "profile",placeholder:"例)●●●●",class: "form-control"%>
      </div>

      <div class="actions text-center">
        <%= link_to "戻る", posts_path,class:"btn btn-dark" %>
        <%#= f.submit "戻る",class:"btn btn-dark ",method: :post%>
        <%= link_to "ゴシメイしてメッセージを開始する", "/chat_rooms",class:"btn btn-dark",method: :post %>
 <%= link_to "チャットへ", chat_room_path(current_user.chat_rooms.find_by(company_id: company.id)) %><br>

      <% if @company_ids.include?(company.id) %>
      <br>
<%= link_to "チャットへ", chat_room_path(current_user.chat_rooms.find_by(company_id: company.id)) %><br>
    <% else %>
      <%= form_for ChatRoom.new do |f| %>
        <%= f.hidden_field :company_id, :value => company.id %>
        <%= f.submit %>
      <% end %>
    <% end %>

      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

</div>

