<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:full_title) %> - ゴシメイ！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="current_user_id" content="<%= current_user.id if current_user %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="./footerFixed.js"></script>

  </head>

<body>
  <main class="mb-5">
    <%= render 'partial/navbar'%>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
      <div class="container">
        <%= yield %>
      </div>
  </main>
    <%#div id="footer"%>
      <%= render 'partial/footer' %>
    <%#/div%>

</body>
</html>
